/*
*
* Variable Poperty CSS
*
*/

/* 
* COLOR
*/
$red: #f00;
$blue: #00f;
$green: #0f0;


/* 
* SCREENS
* based on screens in tialwind.config.js
*
*/
$screen_sm: 640px;
$screen_md: 768px;
$screen_lg: 1024px;
$screen_xl: 1280px;